.rich-text {
  z-index: 1;
}

.rich-text__wrapper {
  display: flex;
  justify-content: center;
  max-width: 1440px;
  margin: 0 auto;
  padding-left: 2rem;
  padding-right: 2rem;
}

.rich-text__blocks {
  width: 100%;
}

.rich-text__text {
  font-size: 1.6rem;
  letter-spacing: normal;
  line-height: 1;
}

.rich-text__blocks * {
  overflow-wrap: break-word;
}

.rich-text__blocks > * {
  margin-top: 0;
  margin-bottom: 0;
}

.rich-text__blocks > * + * {
  margin-top: 2rem;
}

.rich-text__blocks > * + a {
  margin-top: 3rem;
}

.rich-text__buttons {
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
  max-width: 45rem;
  word-break: break-word;
}

.rich-text__buttons--multiple > * {
  flex-grow: 1;
  min-width: 22rem;
}

.rich-text__buttons + .rich-text__buttons {
  margin-top: 1rem;
}

.rich-text__blocks.left .rich-text__buttons {
  justify-content: flex-start;
}

.rich-text__blocks.right .rich-text__buttons {
  justify-content: flex-end;
}

.rich-text__image {
  display: flex;
}

.rich-text__image--center {
  justify-content: center;
}
.rich-text__image--left {
  justify-content: left;
}

.rich-text__image--right {
  justify-content: right;
}

.rich-text__text.rich-text__text--larger {
  margin-top: 0;
  font-weight: bold;
  text-align: center;
  font-size: 2rem;
}

.rich-text__text.rich-text__text--bolder strong {
  font-family: "Iowan Old Style Black";
  font-weight: 500;
}

@media screen and (min-width: 768px) {
  .rich-text__text.rich-text__text--larger {
    font-size: 3rem;
  }
}

@media screen and (min-width: 1024px) {
  .rich-text__text.rich-text__text--larger {
    font-size: 5rem;
  }
}

@media screen and (min-width: 768px) {
  .rich-text__wrapper {
    width: 100%;
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .rich-text__wrapper--left {
    justify-content: flex-start;
  }

  .rich-text__wrapper--right {
    justify-content: flex-end;
  }

  .rich-text__text {
    font-size: 2rem;
    line-height: 1.2;
  }
}

@media screen and (min-width: 1024px) {
  .rich-text__text {
    font-size: 2.5rem;
  }

  .rich-text__wrapper {
    padding-left: 8rem;
    padding-right: 8rem;
  }

  .rich-text__blocks > * + * {
    margin-top: 4rem;
  }
}

@media screen and (min-width: 1440px) {
  .rich-text__text {
    font-size: 3rem;
  }

  .rich-text__wrapper {
    padding-left: 13rem;
    padding-right: 13rem;
  }
}
